import init.sun5i.usb.rc

on early-init
	export EXTERNAL_STORAGE /mnt/sdcard
	mkdir /mnt/sdcard 0000 system system
	# for backwards compatibility
	symlink /mnt/sdcard /sdcard

	mkdir /mnt/extsd 0000 system system
	mkdir /mnt/usbhost1 0000 system system


on fs
    mount ext4 /dev/block/nandd /system wait noatime nodev barrier=0

# try to mount /data
	wait /dev/block/nande
	mount ext4 /dev/block/nande /data wait noatime nosuid nodev barrier=0
	setupfs /dev/block/nande
	umount /data
	exec /system/bin/logwrapper /system/bin/e2fsck -y /dev/block/nande
	exec /system/bin/busybox mount -t ext4 -o noatime,nosuid,nodev,barrier=0,journal_checksum,noauto_da_alloc /dev/block/nande /data

# try to mount /cache
    mount ext4 /dev/block/nandh /cache wait noatime nosuid nodev barrier=0
	setupfs /dev/block/nandh
	umount /cache
    exec /system/bin/logwrapper /system/bin/e2fsck -y /dev/block/nandh
    exec /system/bin/busybox mount -t ext4 -o noatime,nosuid,nodev,barrier=0,journal_checksum,noauto_da_alloc /dev/block/nandh /cache

    format_userdata /dev/block/nandi NUCLEAR




on boot

    #csi module
	insmod /system/lib/modules/videobuf-core.ko
	insmod /system/lib/modules/videobuf-dma-contig.ko
	insmod /system/lib/modules/sp0838.ko
	insmod /system/lib/modules/gc0307.ko
	insmod /system/lib/modules/gc0308.ko
        insmod /system/lib/modules/gc0309.ko
	insmod /system/lib/modules/gc0329.ko
	insmod /system/lib/modules/sun5i_csi0.ko
	
	#insmod key & tp driver
	insmod /system/lib/modules/ft5x_ts.ko
	insmod /system/lib/modules/sw-keyboard.ko

	#insmod mali driver
	insmod /system/lib/modules/ump.ko
	insmod /system/lib/modules/mali.ko
	
#usb net module	
	insmod /system/lib/modules/usbnet.ko
	insmod /system/lib/modules/asix.ko
	insmod /system/lib/modules/rtl8150.ko
	insmod /system/lib/modules/qf9700.ko
        insmod /system/lib/modules/sr9600.ko
        insmod /system/lib/modules/mcs7830.ko
	
	#insmod video driver
    insmod /system/lib/modules/cedarx.ko
    
    # insmod vibrator
    insmod /drv/sun5i-vibrator.ko
    chmod 777 /sys/class/timed_output/sun5i-vibrator/enable
# Configure KSM (Kernel SamePage Merging)
    write /sys/kernel/mm/ksm/sleep_millisecs 4000
    write /sys/kernel/mm/ksm/pages_to_scan 128
    write /sys/kernel/mm/ksm/run 0
    
	#insmod gsensor driver
	insmod /system/lib/modules/mecs.ko
    insmod /system/lib/modules/mxc622x.ko
    chmod 777 /system/bin/memsicd
    mkdir /data/misc/sensors 0777 system system
    service memsicd /system/bin/logwrapper /system/bin/memsicd 
    class main
# wifi related service
service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
	socket wpa_wlan0 dgram 660 wifi wifi
	group wifi inet
	disabled
	oneshot

service u3gmonitor /system/bin/u3gmonitor
	class main
	user root
	group root
 	oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
	class main
    disabled
    oneshot    

service iprenew_wlan0 /system/bin/dhcpcd -n
	class main
	disabled
	oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
	class main
    disabled
    oneshot    

service iprenew_eth0 /system/bin/dhcpcd -n
	class main
	disabled
	oneshot

service memsicd /system/bin/logwrapper /system/bin/memsicd
   class troy
   oneshot

